https://download.pytorch.org/whl/cpu/torch-1.8.1-cp39-none-macosx_10_9_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.9.1-cp39-cp39-macosx_10_9_x86_64.whl
fastai == 2.3.1
voila
ipywidgets
